<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .border {
        width: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 3px;
        margin: 10px;
    }
    </style>
    <meta charset="UTF-8">
    <title>Journal Entries: {{ day }}</title>
</head>
<body>
    {% for i in date %}
        <div class="border flexed">
            <h1>{{ i }}</h1>
            <h4>{{ date[i]["entry"] }}</h4>
        </div>
    {% endfor %}
    <a href="{{ url_for('create_entry', user=session['User']['Username']) }}"><button>Create Entry</button></a>
</body>
</html>