@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.navbar-outer {
    background: white;
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    border-bottom: 1px solid #d1d9e6;
}
.box-shadow {
    box-shadow: 4px 4px 10px #d1d9e6;
}
.navbar-link {
    list-style: none;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.navbar-link a {
    color: #000;
    transition: color 0.3s ease;
}
.navbar-link a:hover {
    color: #7f8389;
}
.navbar-links-division {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-links {
    width: 300px;
    display: flex;
    justify-content: space-between;
}


.get-started {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.welcome-message {
    margin-left: 40px;
}
.button-login {
    border: none;
    background-color: #0089a6;
    width: 80px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s, box-shadow ease 0.3s;
}
.button-login:hover {
    cursor: pointer;
    background-color: #fff;
    color: #0089a6;
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
}
.image {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    font-size: 11px;
    color: #0089a6;
}
span {
    color: #909090;
}
.welcome-outer {
    background: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: -80px;
    height: 450px;
    color: #fff;
    font-family: 'Rubik Mono One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.get-started-two {
    border-radius: 10px;
    margin-right: 40px;
    width: 25%;
    height: 80%;
    background: #fff;
    color: #000;
}
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    font-weight: 600;
    height: 20%;
    font-size: 24px;
}
.message-part {
    margin: 0px 6.5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #54575b;
    height: 60%;
    margin-top: 3%;
}
#button-for-login-2 {
    width: 87%;
}


.button-part {
    display: flex;
    justify-content: center;
}


.features {
    position: relative;
    bottom: -80px;
    background: #fff;
    border-bottom: #d1d9e6 1px solid;
}
.feature-heading {
    font-family: 'poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-box-outer-container {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    margin: 0px 70px;
    justify-content: center;
}
.feature-box {
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
    width: 300px;
    height: 350px;
    border: #9a9ea6 1px solid;
    margin-top: 30px;
    border-radius: 10px;
}
.last-f-box {
    margin-bottom: 30px;
}
.topic-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'monsterrat', sans-serif;
    font-weight: 300;
    height: 60px;
}
.feature-explaination {
    margin: 0px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #54575b;
}


.pricing {
    border-bottom: 1px solid #d1d9e6;
    position: relative;
    bottom: -80px;
    height: 400px;
}
.content-container-pricing {
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
    margin: 20px;
    height: 95%;
    border: 1px solid #d1d9e6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.image-side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    border-right: 1px solid #d1d9e6;
}
.word-content-side {
    width: 70%;
}
#heading-for-pricing {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
.heading-for-pricing {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-in-pricing {
    margin: 0px 50px;
    font-family: 'Montserrat',sans-serif;
    color: #54575b;
}


.footer {
    background: #0089a6;
    position: relative;
    bottom: -80px;
    height: 100px;
    color: #fff;
}
.footer-content {
    position: absolute;
    right: 2%;
    bottom: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.word-content-side {
    overflow: scroll;
}
#button-for-login {
    margin-right: 10px;
}
.topic-heading {
    font-weight: 800;
    font-family: 'Poppins';
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .image-side {
        display: none;
    }
    .word-content-side {
        width: 100%;
    }
    .features {
        border-bottom: 0px;
    }
    .last-f-box {
        margin: 0px;    
    }
    .feature-box {
        overflow: scroll;
    }
    .feature-box-outer-container {
        display: grid;
        grid-auto-flow: row;
        gap: 30px;
        margin: 0px 70px;
    }
    .first-f-box {
        margin-bottom: 50px;
    }
    #mobile-button {
        margin-top: 20px;
        width: 40%;
    }
    .welcome-outer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navbar-links-division {
        display: none;
    }
    .get-started-two {
        display: none;
    }
    .content-in-pricing {
        overflow: hidden;
    }
}

@media screen and (min-width: 426px) {
    #mobile-button {
        display: none;
    }
}