@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* All variables are assigned in this to be accessed later */
:root {
    --submit-btn-background: #0089a6;
    --background: #fff;
    --box-background: #ddd;
    --font-text: 'Montserrat', sans-serif;
    --font-heading: 'Poppins', sans-serif;
    --link-background: #999;
    --font-for-links: 'Titillium Web', sans-serif;
    --font-color: #000;
    --hover-link-bg: #7d7b7b;
}

a {
    text-decoration: none;
    color: var(--link-background);
    font-family: var(--font-for-links);
    transition: color 0.1s ease-in-out;
}

a:hover {
    color: var(--hover-link-bg);
}

input {
    outline: none;
    border: none;
    color: #484747;
}

input[type="submit"] {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background: var(--submit-btn-background);
    width: 80%;
    height: 40px;
    border-radius: 5px;
    color: white;
    transition: color 0.3s ease, background 0.3s ease;
}


input[type="submit"]:hover {
    background: #fff;
    color: var(--submit-btn-background);
}

body {
    box-sizing: border-box;
}

.outermost-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
    height: 100vh;
}

.outer-container {
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
    height: 440px;
    width: 340px;
    background: var(--box-background);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.heading-container {
    margin: 30px 0px 30px 0px;
}

#heading-main{
    font-family: var(--font-heading);
    color: #000000;
}

.outer-inner-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 50%;
}

.input-column {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
}

label h6{
    color: var(--font-color);
    font-size: 15px;
    font-family: var(--font-text);
}

.input-column input{
    height: 40px;
    width: 85%;
    border-radius: 3px;
    margin-top: 5px;
    padding-left: 10px;
    background: var(--background);
}

#remember-me-checkbox {
    height: 15px;
    width: 15px;
}

.checkbox {
    flex-direction: row;
    padding-bottom: 0px;
}

.checkbox h6{
    padding-top: 4px;
    padding-left: 5px;
    color: #000;
    font-family: var(--font-text);
    font-size: 14px;
}

.related-links {
    margin-top: 10px;
    margin-left: 13%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    position: relative;
    left: 12px;
    top: 10px;
    font-size: 13px;
}

.submit-btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
