<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captiosus - Work Smart and Efficiently</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='indexPage/style.css')}}">
</head>
<body>
    <div class="navbar-outer" id="navbar">
        <div class="image">
            <h1 class="logo">Captiosus</h1>
        </div>
        <div class="navbar-links-division">
            <ul class="navbar-links">
                <li class="navbar-link"><a href="#about">About</a></li>
                <li class="navbar-link"><a href="#features">Features</a></li>
                <li class="navbar-link"><a href="#pricing">Pricing</a></li>
                <li class="navbar-link"><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="get-started">
            <button class="button-login" id="button-for-login">Sign in</button>
        </div>
    </div>
    <div class="welcome-outer" id="about">
        <div class="welcome-message">
            <h1>Your one</h1> 
            <h1>location to</h1>
            <h1>work <span id="item"></span></h1>
        </div>
        <div class="get-started-two">
            <div class="heading">Join Captiosus</div>
            <div class="message-part">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae aspernatur nam provident consequuntur repudiandae. Voluptas dolorum ipsum tempora eius neque eos culpa ea. Eos quas, non sunt ut sit, enim vero id, porro odio reprehenderit corrupti illum facere esse dicta commodi modi iusto dolore tempora impedit sed. Eius, velit architecto?
            </div>
            <div class="button-part">
                <button class="button-login" id="button-for-login-2">Get Started</button>
            </div>
        </div>
        <button class="button-login" id="mobile-button">Get Started</button>
    </div>
    <div class="features" id="features">
        <div class="feature-heading"><h1>Our Features</h1></div>
        <div class="feature-box-outer-container">
            <div class="feature-box-row first-row">
                <div class="feature-box-container">
                    <div class="feature-box first-f-box">
                        <div class="topic-heading-outer">
                            <h1 class="topic-heading">Notes Organizer</h1>
                        </div>
                        <div class="feature-explaination">
                            <p>In the era of constant information flow, a notes organizer is essential. It corrals ideas and details, creating a structured resource for easy retrieval. This tool prevents valuable insights from being lost, enhances productivity, and serves as a centralized hub for organized knowledge in an increasingly complex digital world.</p>
                        </div>
                    </div>
                </div>
                <div class="feature-box-container">
                    <div class="feature-box last-f-box">
                        <div class="topic-heading-outer">
                            <h1 class="topic-heading">Daily Quotes</h1>
                        </div>
                        <div class="feature-explaination">
                            <p>Daily quotes wield immense significance, injecting our days with inspiration and wisdom. These succinct bursts of insight offer guidance, motivation, and fresh perspectives, aiding us in maintaining a positive and focused mindset. By embracing daily quotes, we infuse our lives with a regular dose of encouragement, fostering personal growth and resilience in the face of life's challenges.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feature-box-row second-row">
                <div class="feature-box-container">
                    <div class="feature-box first-f-box">
                        <div class="topic-heading-outer">
                            <h1 class="topic-heading">Daily Journal</h1>
                        </div>
                        <div class="feature-explaination">
                            <p>A daily journal is a potent tool that captures our life's essence, guiding us on a journey of self-discovery and growth. It offers a judgment-free space for thoughts and emotions to flow, fostering mindfulness and introspection. By tracing patterns, celebrating victories, and reflecting on challenges, we cultivate a deeper understanding of ourselves. This tangible record serves as a testament to our progress, gratitude, and the beauty of our human experience.</p>
                        </div>
                    </div>
                </div>
                <div class="feature-box-container">
                    <div class="feature-box last-f-box">
                        <div class="topic-heading-outer">
                            <h1 class="topic-heading">Study Sessions</h1>
                        </div>
                        <div class="feature-explaination">
                            <p>Studying with a timer holds significant importance as it cultivates discipline, focus, and efficient learning. Timed study sessions break material into manageable chunks, preventing overwhelm, while the timer drives motivation and urgency. This technique, exemplified by the Pomodoro method, enhances retention and time management skills. Beyond academics, it nurtures essential self-regulation abilities applicable to various facets of life.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feature-box-row third-row">
                <div class="feature-box-container">
                    <div class="feature-box first-f-box">
                        <div class="topic-heading-outer">
                            <h1 class="topic-heading">To Do List</h1>
                        </div>
                        <div class="feature-explaination">
                            <p>In our fast-paced lives, a to-do list is a vital tool, ensuring tasks aren't forgotten amidst the chaos. It brings structure, helping us prioritize, stay focused, and relieve mental clutter. By turning intentions into actionable steps, it offers a sense of accomplishment as items are checked off. In a world demanding efficiency, a to-do list guides us through modern complexities with clarity and purpose.</p>
                        </div>
                    </div>
                </div>
                <div class="feature-box-container">
                    <div class="feature-box last-f-box">
                        <div class="topic-heading-outer">
                            <h1 class="topic-heading">Tutorials</h1>
                        </div>
                        <div class="feature-explaination">
                            <p>Tutorial videos, and instructional videos, have become an integral part of the digital learning experience. They serve as a handy tool, not just for individuals seeking knowledge, but also for businesses striving to communicate effectively with their customers. A tutorial, in education, is a method of transferring knowledge and may be used as a part of a learning process. More interactive and specific than a book or a lecture, a tutorial seeks to teach by example and supply the information to complete a certain task.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pricing" id="pricing">
        <div class="content-container-pricing">
            <div class="image-side"></div>
            <div class="word-content-side">    
                <div class="heading-for-pricing">
                    <h1 id="heading-for-pricing">Pricing</h1>
                </div>
                <div class="content-in-pricing">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt recusandae, tenetur totam molestiae laborum dolor ipsum. Quae, error saepe. Laudantium ad quas voluptatem, ipsum deleniti quod error corrupti voluptatibus fugit, adipisci ex animi numquam doloremque maiores unde hic ullam. Est ipsa accusamus amet, reprehenderit iste beatae quis labore earum expedita quae a minima fugit et temporibus reiciendis fuga laudantium quidem! Quisquam amet suscipit beatae dicta assumenda repudiandae debitis sapiente perspiciatis voluptatem iste. Temporibus reiciendis similique deserunt perferendis vero dolorem amet nesciunt repudiandae distinctio vel facilis, iusto esse repellendus, nulla numquam, nihil consequatur aliquam dolores magni ipsa quasi impedit voluptatum. Tempora.</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-logo"></div>
        <div class="footer-content">
            © 2023 - Captiosus. All rights Reserved
        </div>
    </div>
    <script src="{{ url_for('static', filename='indexPage/script.js')}}"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>    
    var typed = new Typed('#item', {
        strings: ['smart', 'quick', 'efficient', 'remarkably', 'smoothly'],
        typeSpeed: 200,
        backSpeed: 50,
        backDelay: 450,
        cursorChar: '|',
        loop: true,
      });
    </script>
</body>
</html>