{% extends 'btemplate/base.html' %}
{% block page_title %}Organize - Captiosus{% endblock %}
{% block title %}Organize{% endblock %}
{% block path1 %}Home{% endblock%}
{% block path2 %}Organize{% endblock%}
{% block links %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='organize/style.css') }}">
{% endblock %}
{% block op2 %}active{% endblock%}
{% block body %}
<section id=""></section>
<section id="to-do-list">
    <div class="to-do-list">
        <div class="todo-container">
            <div class="top-section">
                <h2>Personal Tools</h2>
            </div>
            <ul class="to-do-ul">
                <li class="">
                    <a href="organize/tdlist">
                        <div class="to-do-box">
                            <h4 class="to-do-heading">To Do List</h4>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a href="/journal">
                        <div class="to-do-box">
                            <h4 class="to-do-heading">Daily Journal</h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}